.home {
  padding: 13px 32px 0px 12px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  column-gap: 30px;
  /* row-gap: 0px; */
  height: 100vh; /* Header height with home padding*/
  background-color: var(--lightest-green);
}

.paneHeader {
  position: sticky;
  background-color: var(--lightest-green);
  z-index: 5;
  height: 102px;
  top: 0;
  padding-bottom: 34px;
}


