.home {
  padding: 20px 30px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  column-gap: 100px;
  row-gap: 30px;
  height: calc(100vh - 115px); /* Header height with home padding*/
  grid-template-areas: 
  "friends wall achievements"
  "friends wall chat";
  background-color: var(--lightest-green);
}

.central {
  grid-area: wall;
  overflow: scroll;
  max-height: 100%; 
  margin-bottom: 50px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.chat {
  grid-area: chat;
  height: 480px;
  place-self: end end;
  margin-bottom: 20px;
}

.central::-webkit-scrollbar {
  width: none;
}
