.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  column-gap: 10px;
  place-items: center center;
}

.loginSection {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  width: 50%;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-bottom: 30px;
}