.commentWrapper {
  margin-top: 16px;
  display: flex;
}

.textWrapper {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.userName {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.content {
  margin-top: 0px;
  margin-left: 15px;
  font-size: var(--xs-font-size);
}

.comments {
  height: 50vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
