.kebab {
  font-size: 24px;
  color: var(--gray);
}

.content {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
}

.content-text {
  padding-left: 15px;
  padding-right: 15px;
}
.withBottomPadding {
  padding-bottom: 15px;
}

.photo {
  width: 100%;
  object-fit: cover;
  border-radius: var(--xl-border-radius);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 0 12px;
}


.heart {
  color: var(--heart-red);
}

.inactiveHeart {
  color: var(--gray);
}

.watch {
  margin-left: auto;
}

