.kebab {
  font-size: 24px;
  color: var(--gray);
}

.content {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-gray);
}

.content-text {
  padding-left: 0;
  padding-right: 0;
}

.peak-text {
  padding: 4px 10px;
  font-size: var(--xxs-font-size);
  width: auto;
  margin-left: 15px;
  margin-right: auto;
  text-align: left;
  background-color: var(--green);
  border-radius: var(--l-border-radius);
  color: white;
  cursor: pointer;
}

.withBottomMargin {
  margin-bottom: 15px;
}

.photo {
  width: 100%;
  object-fit: cover;
  border-radius: var(--xl-border-radius);
}

.buttons {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.button-container {
  margin: auto;
  padding: 0 12px;
}

.heart {
  color: var(--heart-red);
}

.watch {
  margin-left: auto;
}

.textInput {
  background: var(--lighter-gray);
  border-radius: var(--xl-border-radius);
  color: var(--gray);
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  padding: 5px 20px 5px 10px;
  width: 100%;
  align-items: center;
}

.textInput input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--xxs-font-size);
  font-weight: var(--normal-font-weight);
  font-family: 'Roboto';
  color: var(--darkest-gray);
}

.textInput input:focus{
  outline: none;
}

.sendIcon {
  font-size: 21px;
  max-height: 21px;
  margin-left: auto;
  cursor: pointer;
}

.sendIcon:hover {
  color: var(--green);
}

.addCommentWrapper {
  margin-top: 10px;
  display: flex;
}
