.kebab {
  font-size: 24px;
  color: var(--gray);
}

.content {
  padding: 18px 0;
  display: flex;
  flex-direction: column;
}

.content-text {
  padding-left: 15px;
  padding-right: 15px;
}
.withBottomPadding {
  padding-bottom: 15px;
}

.photo {
  width: 100%;
  object-fit: cover;
  border-radius: var(--xl-border-radius);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.button-icon {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--m-font-size);
  color: var(--gray);
}

.button-text {
  font-size: var(--xxs-font-size);
  color: var(--gray);
}

.button-icon:active {
  opacity: 0.8;
}

.heart {
  color: var(--heart-red);
}

.watch {
  margin-left: auto;
}