.container {
    width: 100%;
    text-align: center;
    display: flex;
  }

.peaksList {
    margin: 1%;
    margin-top: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
