.container {
    text-align: center;
    display: flex;
  }

.peaksList {
    margin: 1%;
    width: 100%;
    text-align: center;
}
/* 
.listLeft {
  margin-right: 1%;
}

.listRight {
  margin-left: 1%;
} */
