.cardPeakDescription {
    margin: 0 6%;
}

.about {
    margin-bottom: 30px;
    text-align: justify;
}

.peakDescription {
    padding: 0 2%;
}

.descriptionHeader {
    margin-bottom: 30px;
    color: var(--darkest-gray);
    font-size: var(--s-font-size);
}

.label {
    font-weight: var(--bold-font-weight);
    font-size: var(--s-font-size);
    color: var(--darkest-gray);
}

.buttonBox {
    margin: auto;
    text-align: center;
  }

.reachPeakButton {
    width: 300px;
    height: 60px;
    font-size: var(--s-font-size);
  }
