.about {
    margin-bottom: 30px;
    text-align: justify;
}

.peakDescription {
    padding: 3% 5%;
}

.descriptionHeader {
    margin-bottom: 30px;
    color: var(--darkest-gray);
    font-size: var(--s-font-size);
}

.timeInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--bold-font-weight);
    font-size: var(--s-font-size);
    color: var(--darkest-gray);
}

.label {
    font-weight: var(--bold-font-weight);
    font-size: var(--s-font-size);
    color: var(--darkest-gray);
}

.timeInput {
    border: var(--l-border-width) solid var(--border-gray);  
    border-radius: var(--xl-border-radius);
    background-color: #F1F1F1;
    font-weight: var(--normal-font-weight);
    font-size: var(--s-font-size);
    color: var(--darkest-gray);
    text-align: center;
    height: 50px;
    width: 55px;
}

.buttonBox {
    margin: auto;
    text-align: center;
  }

.reachPeakButton {
    width: 300px;
    height: 60px;
    font-size: var(--s-font-size);
  }
