.pane {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.pane::-webkit-scrollbar {
  display: none;
}

.central {
  margin-left: 2.5%;
  margin-right: 2%;
  height: calc(100% - 102px);
}

.fixed {
  height: calc(100% - 50px);
}