.pane {
  height: 100vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  min-width: 500px;
}

.pane::-webkit-scrollbar {
  display: none;
}

.central {
  padding-left: 12%;
  padding-right: 12%;
  height: calc(100% - 90px);
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.central::-webkit-scrollbar {
  display: none;
}  

.fixed {
  margin-top: 10px;
  height: calc(100% - 20px);
}


@media (max-width: 800px) {
  .pane {
    min-width: unset;
  }
  .central {
    padding-left: 2%;
    padding-right: 2%;
  }
}