.card {
    display: grid;
    grid-template-rows: 30vh auto;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 4px 16px -2px rgba(90,70,69,0.2);
    background-color:white;
    border-radius: 20px;
    margin: 3% 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card:hover {
    opacity: 80%;
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.peakInformation{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.peakName {
    font-size: var(--m-font-size);
    color: var(--darkest-gray);
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    margin-left: 20px;
}

.peakHeight {
    font-size: var(--xxs-font-size);
    text-align: left;
    margin-left: 20px;
    color: lightgray;
    margin-bottom: 20px;
}

.rating {
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-right: 20px;
}

.star {
    color: gold;
    width: 18px;
    height: 18px;
    text-align: right;
}

.ratingText {
    font-size: var(--xxs-font-size);
    margin: 2px 0 0 5px;
    text-align: left;
}
