.card {
    display: grid;
    grid-template-rows: 30vh auto;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 4px 16px -2px rgba(90,70,69,0.2);
    background-color:white;
    border-radius: 20px;
    margin: 3% 0;
    text-decoration: none;
    color: black;
}

.redirectLink:hover {
    opacity: 0.8;
}

.photo {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.peakInformation {
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: relative;
}

.peakName {
    font-size: var(--m-font-size);
    color: var(--darkest-gray);
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    margin-left: 20px;
}

.peakHeight {
    font-size: var(--xxs-font-size);
    text-align: left;
    margin-left: 20px;
    color: lightgray;
    margin-bottom: 20px;
}

.reachedInfo {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: var(--lighter-gray);
    text-align: center;
    border-radius: var(--l-border-radius);
    color: var(--darkest-gray);
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.reachedIcon {
    text-align: center;
    margin: 0 5px;
}

.peakReachedInfo {
    background-color: var(--green);
    color: white;
}

.peakNotReachedInfo {
    cursor: pointer;
}

.reachedText {
    font-size: var(--xxs-font-size);
    padding-right: 10px;
    text-align: center;
}

@media (max-width: 1200px) {
    .reachedInfo {
        position: relative;
        margin: auto;
        right: auto;
    }
  }
