.addMap {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    background-color: var(--lighter-gray);
}
  
.withMap {
    background-color: var(--light-green);
}
  
.mapIcon {
    height: 70%;
    width: 70%;
    display: grid;
    place-items: center;
    margin: 6px auto;
    cursor: pointer;
}  
  