.container {
    width: 100%;
    height: 100vh;
    margin-bottom: 15vh;
  }
  
.card {
  grid-template-rows: 50vh auto;
  width: 80%;
  margin: auto;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}
  
.photo {
  object-fit: cover;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius:20px;
  margin: auto;
}
  
.title {
  margin-bottom: 30px;
}

.peakInformation {
  width: 80%;
  box-shadow: 8px 4px 16px -2px rgba(90,70,69,0.2);
  background-color:white;
  border-radius: 20px;
  margin: 20px auto;
}

@media (max-width: 980px) {
  .container {
    grid-template-columns: 1fr;
  }

  .detailsSection {
    margin-top: 4%;
  }

  .card {
    width: 100%;
  }

  .peakInformation {
    width: 100%;
  }
}
