a {
  text-decoration: none;
}

a:active {
  color: var(--darkest-gray);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--xs-font-size);
  font-weight: var(--medium-font-weight);
  grid-area: UserInfo;
  justify-self: right;
}

.selectionWrapper {
  border-radius: var(--l-border-radius);
  padding: 6.77px;
}

.selected {
  background-color: var(--light-green);
}

.userName {
  color: var(--darkest-gray);
  padding-left: 16px;
  padding-right: 19px;
}

.kebabMenu {
  display: flex;
  justify-content: center;
}
