.friendCard {
    width: 30%;
    float: left;
    margin: 1.5%;
    min-width: 100px;
    position: relative;
}

.card {
    padding: 10px;
}

.card:hover {
    box-shadow: 0px 15px 20px 10px rgba(220, 220, 220, 1);
}

.profileImg {
    border-radius: var(--l-border-radius);
}

.usernameBox {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 0 0 var(--l-border-radius) var(--l-border-radius);
    padding-top: 30px;
}

.username {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: var(--xs-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--white);
}