.peakScroll {
    overflow: scroll;
    max-height: 100%; 
    padding-bottom: 30px;
    padding-right: 6%;
    padding-left: 6%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
  }