:root {
  --xxxs-font-size: 12px;
  --xxs-font-size: 14px;
  --xs-font-size: 16px;
  --s-font-size: 20px;
  --m-font-size: 25px;
  --xxl-font-size: 50px;

  --bold-font-weight: 700;
  --normal-font-weight: 500;

}
