.wrapper {
  grid-area: achievements;
}

.title {
  font-size: var(--m-font-size);
  color: var(--darkest-gray);
  font-weight: var(--bold-font-weight);
  margin-bottom: 15px;

}

.achievements {
  display: flex;
  flex-direction: column;
}

.achievement {
  margin-bottom: 9px;
}

.highlightedAchievement {
  grid-area: currentAchievement;
}