.wrapper {
  grid-area: friends;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: var(--m-font-size);
  font-weight: var(--bold-font-weight);
  color: var(--darkest-gray);
  margin-bottom: 12px;
}

.friend {
  margin-bottom: 13px;
  padding: 5px 8px;
  padding-right: 23px;
  font-size: var(--xs-font-size);
  color: var(--darkest-gray);
  border-radius: var(--l-border-radius);
}