.header {
  height: 70px;
  padding: 10px 28px 15px 12px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: "SearchBar NavBar UserInfo";
  position: sticky;
  top: 0;
  background-color: var(--lightest-green);
  z-index: 3;
}