.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--s-font-size);
  grid-area: UserInfo;
  justify-self: right;
}

.userName {
  color: var(--darkest-gray);
  padding-left: 16px;
  padding-right: 19px;
}

.kebabMenu {
  cursor: pointer;
}

.horizontalMargin {
  margin-left: 10px;
}

.menuItem {
  font-size: var(--xs-font-size);
}

.menuItem:hover {
  background-color: var(--light-green);
}
