.searchBar {
  background-color: var(--lighter-gray);
  border-radius: var(--xl-border-radius);
  display: flex;
  align-content: center;
  padding: 16px 16px;
  height: 68px;
}

.icon {
  font-size: 24px;
  max-height: 34px;
  max-width: 34px;
  line-height: 1;
  color: var(--light-gray);
  display: block;
  margin: auto 10px auto 5px;
}

.iconUsersSearch {
  display: block;
}

.input {
  border: none;
  width: 100%;
  background-color: inherit;
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
}

.input::placeholder {
  color: var(--light-gray);
  font-weight: var(--normal-font-weight);
  opacity: 1;
}

.input:focus {
  outline: none;
}