.button {
  font-weight: var(--bold-font-weight);
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
  background-color: inherit;
  border: none;
  grid-area: button;
  cursor: pointer;
}

.icon {
  grid-area: icon;
  font-size: 1.6em;
  cursor: pointer;

}

.container {
  display: grid;
  grid-template-areas: 
            "icon button .";
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: var(--xl-border-radius);
  background-color: white;
  text-align: center;
  height: 60px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 16px;
  place-items: center center;


}

.container:hover {
  opacity: 0.75;
}