.label {
  font-weight: var(--bold-font-weight);
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  border: var(--l-border-width) solid var(--border-gray);  
  border-radius: var(--xl-border-radius);

  font-weight: var(--normal-font-weight);
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
  padding: 15px 22px;
  margin-top: 2px;

  height: 60px;
}
.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--light-gray);
  opacity: 1;
}

.error {
  border: var(--l-border-width) solid var(--border-red);  
}