.label {
  font-weight: var(--bold-font-weight);
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  border: var(--l-border-width) solid var(--border-gray);  
  border-radius: var(--xl-border-radius);

  background-color: #F1F1F1;
  font-weight: var(--normal-font-weight);
  font-size: var(--s-font-size);
  color: var(--darkest-gray);
  height: 45px;
  padding: 2px 20px;
  margin-top: 2px;
}
.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--light-gray);
}

.error {
  border: var(--l-border-width) solid var(--border-red);  
}