.button {
  width: 100%;
  border: none;
  background-color: var(--green);
  border-radius: var(--xl-border-radius);
  font-size: var(--s-font-size);
  text-align: center;
  color: white;
  height: 60px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 16px;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: var(--darkest-gray);
  cursor: auto;
}

.button:disabled:hover {
  opacity: 1;
}

.error {
  background-color: var(--red);
}