.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.name {
  padding-left: 16px;
  font-size: var(--xs-font-size);
  color: var(--gray);
  margin-right: auto;
}

.right {
  justify-self: flex-end;
}

.chatActive {
  background-color: var(--light-green);
}