.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper:hover {
  cursor: pointer;
}

.name {
  padding-left: 16px;
  font-size: var(--xs-font-size);
  color: var(--gray);
}

.right {
  margin-left: auto;
}

.chatActive {
  background-color: var(--light-green);
}