.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "photo redirect"
    "photo section";
  width: 100%;
  height: 100vh;
  column-gap: 10px;
  place-items: center center;
}

.section {
  display: flex;
  flex-direction: column;
  min-width: 512px;
  width: 50%;
  grid-area: section;
}

.redirect {
  grid-area: redirect;
  place-self: start right;
  margin-top: 35px;
  margin-right: 40px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: photo;
}

.title {
  margin-bottom: 45px;
  font-size: var(--xxl-font-size);
  font-weight: var(--normal-font-weight);
}


@media (max-width: 1060px) {
  .loginSection {
    min-width: 302px;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "redirect"
    "section";
  }
  .photo {
    display: none;
  }
}
