.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 4px;
  column-gap: 8px;
  grid-template-areas: 
  "icon name"
  "icon ProgressBar"
  "icon .";

}

.icon {
  grid-area: icon;
}

.name {
  grid-area: name;
  font-size: var(--xxs-font-size);
  color: var(--gray);
}

.progressBar {
  grid-area: ProgressBar;
  font-size: var(--xxxs-font-size);
}