.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper:hover {
  cursor: pointer;
}

.name {
  padding-left: 16px;
  font-size: var(--xs-font-size);
  color: var(--gray);
}

.status {
  margin-left: auto;
}
