.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  margin-bottom: 30px;
}

.modal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "icon textarea"
  ". textarea"
  "button button";
}

.textarea {
  grid-area: textarea;
  min-height: 180px;
  padding-left: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: var(--xs-font-size);
  color: var(--gray);
}

.textarea::placeholder {
  color: var(--gray);
}

.textarea:focus {
  outline: none;
}

.submitButton {
  grid-area: button;
  font-size: var(--xs-font-size);
  padding-top: 8px;
  padding-bottom: 8px;
  height: auto;
}

.icon {
  grid-area: icon;
}


.input {
  background-color: transparent;
  color: var(--gray);
  font-size: var(--xs-font-size);
  margin-left: 14px;
  border: none;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.input::placeholder {
  color: var(--gray);
  font-size: var(--xs-font-size);
  opacity: 1;
}

.input:focus {
  outline: none;
}