.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameWithTime {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.userName {
  color: var(--green);
  font-size: var(--xxs-font-size);
}

.time {
  color: var(--gray);
  font-size: var(--xxxs-font-size);
}

.kebab {
  font-size: 24px;
  color: var(--gray);
  margin-left: auto;
}

.content {
  padding: 15px 0;
}

.photo {
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.button-icon {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: var(--m-font-size);
  color: var(--gray);
}

.button-text {
  font-size: var(--xxs-font-size);
  color: var(--gray);
}

.button-icon:active {
  opacity: 0.8;
}

.heart {
  color: var(--heart-red);
}

.watch {
  margin-left: auto;
}