@import-normalize;
@import './css/tokens/colors.css';
@import './css/tokens/fonts.css';
@import './css/tokens/borders.css';


body {
  background-color: var(--lightest-gray);
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--normal-font-weight);
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

