.post {
    margin-top: 30px;
    width: 30%;
    float: left;
    margin: 3%;
}

.peakScroll {
    overflow: scroll;
    max-height: 100%; 
    padding-bottom: 30px;
    padding-right: 6%;
    padding-left: 6%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden
  }